[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDCPLACES"]
	path = CDCPLACES
	url = https://github.com/brendensm/cdcplaces
[submodule "misuvi"]
	path = misuvi
	url = https://github.com/brendensm/misuvi
[submodule "sqlfluffr"]
	path = sqlfluffr
	url = https://github.com/brendensm/sqlfluffr
